@import 'app/styles/fonts.scss';

// @font-face {
//     font-family: "Golos";
//     font-weight: 400;
//     font-style: normal;

//     font-display: swap;
//     src: url("app/fonts/GolosText-Regular.woff2") format("woff2");
// }

// @font-face {
//     font-family: "Golos";
//     font-weight: 700;
//     font-style: normal;

//     font-display: swap;
//     src: url("app/fonts/GolosText-Bold.woff2") format("woff2");
// }

$font-first: "Golos", "Arial", sans-serif;

$navbar-height: 50px;

// font-m
$font-size-m: 16px;
$font-line-m: 24px;
@mixin font-m {
    font-family: $font-first;
    font-size: $font-size-m;
    line-height: $font-line-m;
    font-family: $font-first;
}

// font-l
$font-size-m: 16px;
$font-line-m: 24px;
@mixin font-m {
    font-family: $font-first;
    font-size: $font-size-m;
    line-height: $font-line-m;
    font-family: $font-first;
}

// colors

// light theme
$bg-color-light: #e6e7eb;

$primary-color-light: #0a1b33;
$secondary-color-light: #144642;
$bg-color-light-invert: #0c1d55;

// dark theme
$bg-color-dark: #0c1d55;
$primary-color-dark: #d3dae4;
$secondary-color-dark: #148b42;
$bg-color-dark-invert: #e6e7eb;

