@import 'app/styles/variables/global.scss';
@import 'app/styles/mixins.scss';


.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: $navbar-height;
    transition: background-color 0.35s ease;
    padding: 0 50px;
}

.navbar__links {
    display: flex;
    gap: 20px;
}

.light {
    @include theme-light-invert;
}

.dark {
    @include theme-dark-invert;
}